
<div class="table-responsive">
  <table class="table">

	<label>Cantidad
	<select id="quantityRoom">
		<option value=".room1" selected="selected">1 Habitación</option>
		<option value=".room1 , .room2">2 Habitaciones</option>
		<option value=".room1 , .room2, .room3">3 Habitaciones</option>
		<option value=".room1 , .room2, .room3 , .room4">4 Habitaciones</option>
	</select>

	<for>
	<br>
	   	<div id="" class="rooms" >
				<%number = 0%>
			   <%= f.simple_fields_for :rooms do |room|%>
			   		<div class="room<%=number = number + 1%>">
				   	  <label>Habitacion <%=number%></label><br> 
				      Adultos:<%= room.select :adult, (1..4), options = {}, html_options = {:class => "room#{number}"}%>
				      cat:<%= room.text_field :category,  html_options = {:class => "room#{number}"}%>
				      Menores:<%= room.select :minor, (1..4), options = {}, html_options = {:class => "room#{number}"}%>
				      Childs:<%= room.select  :child, (1..4), options = {}, html_options = {:class => "room#{number}"}%>
			      </div>
			     <br>
			   <%end%>
			</div>   
  </table>
</div>


