<div class="box box-primary">
<div class="box-header">
    <h3 class="box-title">Reserva simple hotel</h3>
</div><!-- /.box-header -->
  <!-- form start -->
  <%= simple_form_for @searchHotel, url: hotel_search_searches_path , :remote => true  do |f| %>
    <%= f.error_notification %>

      <div class="box-body">
          <div class="control-group">
          <%=f.label "Destino", :class => "control-label"%>
              <%#= f.select :destination_id, Destination.all.collect {|x| [x.name, x.id]}, {},  :class => "select2 select2_full" %>
          </div>

          <div class="form-group">
            <label>Fecha in:</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
            <%= f.text_field :date_in, :class => "form-control datemask"%>
            </div>
          </div>

          <div class="form-group">
            <label>Fecha out:</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :date_out, :class => "form-control datemask" %>
            </div>
          </div>
           
           <%= render  "searches/hotel" ,f: f %>

      </div><!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
        <%= f.button :submit %>

    </div>
  <% end %>

</div>
