<div class="col-md-3">
              
  <!--Nav tabs-->
  <!--================================-->
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a href="#demo-asd-tab-1" data-toggle="tab" aria-expanded="true">
        <i class="fa fa-comments"></i>
        <span class="badge badge-purple">7</span>
      </a>
    </li>
    <li class="">
      <a href="#demo-asd-tab-2" data-toggle="tab" aria-expanded="false">
        <i class="fa fa-info-circle"></i>
      </a>
    </li>
    <li class="">
      <a href="#demo-asd-tab-3" data-toggle="tab" aria-expanded="false">
        <i class="fa fa-wrench"></i>
      </a>
    </li>
  </ul>
  <!--================================-->
  <!--End nav tabs-->



  <!-- Tabs Content -->
  <!--================================-->
  <div class="tab-content">

    <!--First tab (Contact list)-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="tab-pane fade active in" id="demo-asd-tab-1">
          <%= render  "searches/search_hotel" %>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End first tab (Contact list)-->


    <!--Second tab (Custom layout)-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="tab-pane fade" id="demo-asd-tab-2">
        Dos
    </div>
    <!--End second tab (Custom layout)-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


    <!--Third tab (Settings)-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="tab-pane fade" id="demo-asd-tab-3">
      tres
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--Third tab (Settings)-->

  </div>
</div>
<div class="col-md-9">
  <div id="results">
  </div>
</div>
