/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require AdminLTE
 *= require application
 *= require bootstrap.min
 *= require skins/_all-skins
 *= require datepicker3.css
 *= require select2
 *= require_self
 */

 div.dataTables_length select {

  padding-top: 0px;

}
.select2_full {
  min-width: 100%;
  padding-top: 0px;

}
body{
font-size: 13px !important;

}
.skin-black .treeview-menu > li.active > a,
.skin-black .treeview-menu > li > a:hover {
  color: #F0AD4E !important;
}

.logo{
	color: #F0AD4E !important;
	background-color: #222222 !important;
}


.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}