-----------------------------------------------------------------------------
<%= render "info/#{product.data_type.underscore}", product: product %><br>
-----------------------------------------------------------------------------

<br></br>