<li>Nombre: <%=product.name%></li>
<li>In:<%=product.date_in%></li>
<li>Out:<%=product.date_out%></li>
<li>Prioridad:<%=product.priority%></li>
<li><%=product.data.stop_sale%></li>
<li>Estrellas:<%=product.data.stars%></li>
<li>Habitaciones:<%=product.data.rooms.size%></li>
<li>Precio:<%=product.data.rooms.first.value%></li>
<li>reg:<%=product.data.rooms.first.regime%></li>