<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">

      <div class="pull-left info">
      <p>Esteban Fuhrmann</p>

        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="header">NAVEGACION</li>

      <li>
      <div class="box box-solid bg-teal-gradient collapsed-box">
         <div class="box-header">
           <i class="fa fa-th"></i>
           <h3 class="box-title">Ventas</h3>
           <div class="box-tools pull-right">
             <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
             <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
           </div>
         </div>
         <div class="box-body border-radius-none" style="display: none;">

           <div class="chart" id="line-chart" style="height: 250px;"></div>
             <div class="inner">
               <h3>53<sup style="font-size: 20px">%</sup></h3>
               <p>Bounce Rate</p>
             </div>
             <div class="icon">
               <i class="ion ion-stats-bars"></i>
             </div>
             <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
           </div>
           <div class="small-box bg-aqua">
             <div class="inner">
               <h3>150</h3>
               <p>New Orders</p>
             </div>
             <div class="icon">
               <i class="ion ion-bag"></i>
             </div>
             <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
           </div>
           <div class="small-box bg-green">
      

         </div><!-- /.box-body -->
      </div>         
         
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>



