  <div class="wrapper">
    
	  <%= render "layouts/application_header" %>
		
	  <%= render "layouts/application_sidebar" %>
    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->

      <aside class="principal">
        <%= yield(:content_header) %>

        <% flash.each do |name, msg| %>
          <div class="pad margin no-print">
            <%= content_tag :div, :class => "alert alert-#{ name == "error" ? "danger" : "success" } alert-dismissable", :role => "alert" do %>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <%= msg %>
            <% end %>
          </div>
        <% end %>
        <section class="content">
          <div class="row">

          <%= yield %>
          </div>
        </section >
        
      </aside>
    </div><!-- ./wrapper -->
      
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Aero</b> 
      </div>
      <strong>Copyright &copy; 2015 <a href="">MI</a>.</strong> All rights reserved.
    </footer>
  </div><!-- ./wrapper -->